@tailwind base;

@tailwind components;



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: #ddd;
}

h1 {
  margin: 20px;
}

#tasks {
  display: flex;
  flex-wrap: wrap;
  
  position: relative;
  padding: 0px;
}

button {
  padding: 10px;
  font-size: 4rem;
}

.task {
  background-color: rgb(200, 200, 200);
  margin: 20px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  resize: both;
  overflow: visible;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border:3px solid black;

}
.colInBtn {
  visibility :hidden;
  width:0px;
  height:0px;
padding:0;
margin:0;
}
.task .content {
  padding: 8px;
  min-width: 200px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  
}

.task textarea {
  width: 100%;
  flex: 1;
  resize: none;
  border: 3x solid black;
  outline: none;
  margin: 5px 5px 5px 5px;
  padding: 5px;
  
}

.task .taskHeader {
  height: 24px;
  background-color: black;
  width: 100%;
  position: relative;
  cursor: move;
  border: 3px solid black;
}

#calendar .calHeader {
  height: 20px;
  background-color: black;
  width: 100%;
  position: relative;
  cursor: move;
  
}

.deleteButton {
background-color: abb2bf;
font-size: 1rem;
padding: 4px;
display: none;

}

.taskTitle {

  text-align:center;
}
#calendar {
  background-color: rgb(200, 200, 200);
  margin: 0px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  resize: both;
  overflow: visible;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border:3px solid black;
  width:min-content;
  
}

#cal {
  padding: 10px;
  display: flex;
  
  min-height: 389px;
  min-width: 576px;
  
  height:389px;
}
#calLoc {
  display: block;
}
@tailwind utilities;
