* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: #ddd;
}

h1, #tasks {
    margin-bottom: 20px;
}

#tasks {
    display: flex;
    flex-wrap: wrap;
}

button {
    padding: 10px;
    font-size: 2rem;
}

.task {
    background-color: rgb(200, 200, 200);
    margin: 20px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    resize: both;
    overflow: auto;

}
#colInput {
display: none;
}
.task .content {
    padding: 10px;
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    
}

.task textarea {
    width: 100%;
    flex: 1;
    resize: none;
    border: 1px solid black;
    outline: none;
    margin: 5px 0px;
    padding: 5px;
    
}

.task .taskHeader {
    height: 20px;
    background-color: black;
    width: 100%;
    position: relative;
    cursor: move;
}

.deleteButton {
background-color: abb2bf;
font-size: 1rem;
padding: 4px;
display: none;






}