* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: #ddd;
}

h1, #tasks {
    margin: 20px;
}

#tasks {
    display: flex;
    flex-wrap: wrap;
    margin:auto;
    
}

button {
    padding: 10px;
    font-size: 2rem;
}

.task {
    background-color: rgb(200, 200, 200);
    margin: 20px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    resize: both;
    overflow: visible;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border:3px solid black;
    z-index: inherit;

}
.colInBtn {
    visibility :hidden;
    width:0px;
    height:0px;
padding:0;
margin:0;
}
.task .content {
    padding: 8px;
    min-width: 200px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    z-index: inherit;
}

.task textarea {
    width: 100%;
    flex: 1;
    resize: none;
    border: 3x solid black;
    outline: none;
    margin: 5px 5px 5px 5px;
    padding: 5px;
    z-index: inherit;
    
}

.task .taskHeader {
    height: 24px;
    background-color: black;
    width: 100%;
    position: relative;
    cursor: move;
    border: 3px solid black;
    z-index: inherit;
}

#calendar .calHeader {
    height: 20px;
    background-color: black;
    width: 100%;
    cursor: move;
    z-index: inherit;
}

.deleteButton {
background-color: abb2bf;
font-size: 1rem;
padding: 4px;
display: none;

}

.taskTitle {

    text-align:center;
}

#calendar {
    user-select: none;
    resize: both;
    overflow: visible;
    display: inline-flex;
    flex-wrap:wrap;
    flex-direction: row;
    background-color: #a79b8e;
    min-height: 415px;
    min-width: 582px;
    padding: 0px;
    margin: 10px;
    border: 3px solid black;
    
}

#cal {
    padding: 10px;
    display: flex;
    flex-direction: column;
    
    min-height: 389px;
    min-width: 576px;
}
#calLoc {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    height:max-content;
}
